@import "components/title-footer";
@import "components/links-footer";
@import "components/btn-social";

.section-footer {
  padding-top: 3.0625rem;
  padding-bottom: 2.9375rem;
  background-color: $light-blue;
}

footer ul {
  padding: 0;
  list-style: none;
}

.navigation-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
  }

  .logo-footer {
    @media (max-width: 992px) {
      max-width: 48%;
      width: 100%;
    }

    @media (max-width: 576px) {
      max-width: 100%;
      width: 100%;
    }
  }

  .navbar-footer {
    @media (max-width: 992px) {
      max-width: 48%;
      width: 100%;
    }

    @media (max-width: 576px) {
      max-width: 100%;
      width: 100%;
    }
  }

  .navigation-contact {
    @media (max-width: 992px) {
      max-width: 48%;
      width: 100%;
    }

    @media (max-width: 576px) {
      max-width: 100%;
      width: 100%;
    }
  }
}

.section-copyright {
  color: $white;
  background-color: $light-blue;

  ul {
    display: flex;
  }
}

.navigation-contact {
  padding-left: auto;
  float: right;
}

.menu-footer {
  a {
    text-decoration: none;
    @include neuemedium;
    color: $white;
    &:hover {
      color: $light-yellow;
    }
  }
}

.social-media {
  display: flex;
  justify-content: flex-end;
  color: $white;

  @media (max-width: 576px) {
    gap: 1rem;
  }

  li {
    text-align: right;
    margin-left: 2.125rem;
  }

  @media (max-width: 576px) {
    justify-content: center;

    li {
      margin-left: 0;
    }
  }
}

.list-copy {
  li {
    color: $white;
    margin-right: 1rem;
    @include neuemedium;
    font-size: 0.875rem;

    @media (max-width: 576px) {
      text-align: center;
      margin: 0;

      &.separator {
        display: none;
      }
    }
  }

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
  }
}

.mailto {
  text-decoration: underline !important;
}
