@import "components/title-footer";
@import "components/links-footer";
@import "components/btn-social";

.section-footer {
  padding-top: 49px;
  padding-bottom: 47px;
  background-color: $light-blue;
}

footer ul {
  padding: 0;
  list-style: none;
}

.navigation-footer {
  display: flex;
  justify-content: space-between;
}

.section-copyright {
  hr {
    border-color: $white;
  }
  color: $white;
  background-color: $light-blue;
  ul {
    display: flex;
  }
}

.navigation-contact {
  padding-left: auto;
  float: right;
}

.menu-footer {
  a {
    text-decoration: none;
    @include neuemedium;
    &:hover {
      color: $orange;
    }
  }
}

.social-media {
  display: flex;
  justify-content: flex-end;
  color: $white;

  li {
    text-align: right;
    margin-left: 34px;
  }
}

.list-copy {
  li {
    color: $white;
    margin-right: 1rem;
    @include neuemedium;
    font-size: 14px;
  }
}

.mailto {
  text-decoration: underline !important;
}
