@import "components/menu";

@import "components/button-orange";
@import "components/button-transparent";
@import "components/language";

header {
  padding: 20px 0;
  border-bottom: 1px solid #dce1e6;

  .button-orange {
    border: 1px solid $blue;
  }
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: space-between;
  margin-left: auto;
  width: fit-content;
  gap: 2rem;
  padding: 0 !important;

  .nav {
    margin: 0;

    a {
      text-decoration: none;
      @include neuemedium;
      font-size: 14px;
    }
  }
  .button-orange {
    padding: 11px 27px;
    @include neuebold;
    font-size: 14px;
  }

  .button-transparent {
    padding: 10px 27px;
    @include neuemedium;
    font-size: 14px;
  }
}

.mobile-menu-toggler {
  border: none;
  background: none;
  font-size: 24px;
  color: $blue;
  height: 32px;
  width: 32px;
}

@media (min-width: 992px) {
  .mobile-menu-toggler {
    display: none !important;
  }
}
