@import "components/menu";

@import "components/button-orange";
@import "components/button-transparent";
@import "components/language";

header {
  padding: 20px 0;
  border-bottom: 1px solid #dce1e6;

  .button-orange {
    border: 1px solid $blue;
  }
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  justify-content: space-between;
  margin-left: auto;
  width: fit-content;
  gap: 2rem;

  .nav {
    margin: 0;

    a {
      text-decoration: none;
      @include neuemedium;
      font-size: 14px;
    }
  }
  .button-orange {
    padding: 11px 27px;
    @include neuebold;
    font-size: 14px;
  }

  .button-transparent {
    padding: 10px 27px;
    @include neuemedium;
    font-size: 14px;
  }
}

.logo {
  position: absolute;
  margin-top: -2px;
}
