.box-vantaggi {
  border: 1px solid #a5aaaa;
  border-radius: 8px;
  padding: 1.5rem;
  height: 100%;
  transition: all 0.3s ease;

  &:hover {
    // transform: translateY(-5px);
    // box-shadow: 0 10px 20px rgba(57, 125, 221, 0.1);
    border-color: $mantra;
  }

  img {
    width: 3.125rem;
    height: 3.125rem;
    margin-bottom: 0.9375rem;
    display: block;
  }

  .title {
    @include bold;
    font-size: 1.25rem;
    color: $blue;
    margin-bottom: 0.625rem;
  }

  .text {
    color: #555;
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
