.btn-social {
  background-color: $white;
  border-radius: 8px;
  padding: 12px 32px;
  color: $blue !important;
  position: absolute;
  margin-top: 20px;
  display: flex;
  align-items: center;

  img {
    margin-right: 5px;
  }
  &:hover {
    color: #428bc1 !important;
  }
}
