.btn-veddimappa {
  border: 1px solid #A5AAAA;
  border-radius: 4px;
  padding: 15px 18px;
  color: #A5AAAA;
  display: inline-block;
  float: right;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
  &:hover {
    border: 1px solid $orange;
    color: $orange;
  }
}