.button-orange {
  justify-content: center;
  align-items: center;
  padding: 14px 27px;
  background: $blue;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  line-height: 16px;
  border: none;

  &:hover {
    color: #fff;
  }
}
