.carousel-card {
  .owl-stage-outer {
    padding: 0 !important;
    margin-left: 0.625rem !important;
  }
  .owl-nav {
    display: none;
  }
  .owl-dots {
    margin-top: 0.9375rem;
  }
}

.schedule {
  .owl-item {
    margin-right: 1.1875rem !important;
  }
  .owl-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .owl-prev,
  .owl-next {
    width: 2rem;
    height: 2rem;
    background-color: #f4f5f6 !important;
    border-radius: 50%;
  }
  .owl-prev {
    left: -1rem;
    position: absolute;
    z-index: 99999;
    top: 2.1875rem;
  }
  .owl-next {
    right: -1rem;
    position: absolute;
    z-index: 99999;
    top: 2.1875rem;
  }

  &--pop {
    li {
      border: 1px solid #dce1e6;
      border-radius: 4px;
      text-align: center;
      padding: 1.4375rem 0;
      color: #a5aaaa;
    }
  }
  &--hours {
    .owl-prev {
      top: 0;
    }
    .owl-next {
      top: 0;
    }
  }
}
