.card {
  margin-bottom: 1rem;
  height: 100%;
  border-radius: 8px;
  //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;

  &:hover {
    // transform: translateY(-5px);
    // box-shadow: 0 10px 20px rgba(57, 125, 221, 0.1);
  }

  .status {
    background: $yellow;
    border-radius: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.375rem 1.3125rem;
    color: $blue;
    @include regular;
    font-size: 12px;
    line-height: 12px;
  }

  .card-body {
    padding: 1.25rem;
  }

  .type {
    font-size: 0.75rem;
    color: $blue;
    margin-bottom: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
  }

  .title {
    font-size: 1.25rem;
    color: #000;
    @include bold;
    margin-bottom: 0.3125rem;
  }

  .cnpj {
    font-size: 0.875rem;
    color: #555;
    margin-bottom: 0.625rem;
  }

  .adress {
    font-size: 0.875rem;
    color: #555;
    margin-bottom: 0.625rem;
  }

  .description {
    font-size: 0.875rem;
    color: #333;
    margin-bottom: 1.25rem;
    line-height: 1.4;
  }

  .contato {
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
    margin: 0 -1.25rem -1.25rem;
    padding: 0.9375rem 1.25rem;

    .title-contato {
      color: $blue;
      font-size: 1rem;
      @include bold;
      margin-bottom: 0.625rem;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: -0.3125rem;
        left: 0;
        width: 3.125rem;
        height: 0.125rem;
        background-color: $mantra;
      }
    }

    .contato-info {
      margin-top: 0.375rem;
      display: flex;
      flex-direction: column;
      gap: 0.3125rem;
      padding: 0;
      margin: 0;

      li {
        list-style: none;
      }

      .phone {
        display: flex;
        align-items: center;

        .whatsapp-icon {
          margin-left: 0.625rem;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }

      .email {
        color: #666;
        font-size: 0.875rem;
      }
    }
  }
}

.link-card {
  text-decoration: none;
  color: #000;

  &:hover {
    color: #000;
  }
}
