.form-hero {
  background-color: $white;
  border-radius: 8px;
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.9);

  .button-orange {
    text-align: center;
    margin-top: 1rem;
    padding: 1.25rem 1.6875rem;
    @include medium;
    font-size: 1rem;
  }
}

.termo-uso {
  display: flex;
  justify-content: center;
  margin-top: 0.625rem;
  font-size: 0.875rem;
  color: $dark-gray;

  .link-termo {
    color: $mantra;
    margin-left: 5px;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
      color: $light-blue;
    }
  }
}

.link-login {
  display: block;
  max-width: 25.625rem;
  margin-left: auto;
  text-align: center;
  color: $blue;
  margin-top: 0.625rem;
  strong {
    @include medium;
  }

  &:hover {
    color: $light-blue;
  }
}
