.add-filter {
  list-style: none;
  padding: 0;
  float: left;
  margin-right: 1.25rem;
  display: inline-block;
  li {
    a {
      border: 1px solid #a5aaaa;
      border-radius: 2.5rem;
      padding: 0.6875rem 3.125rem;
      color: #000;
      &:hover {
        color: $blue;
        border: 1px solid $blue;
      }
    }
  }
}

.list-filter {
  padding: 0;
  list-style: none;
  li {
    word-wrap: unset;
    float: left;
    margin-right: 0.625rem;
    margin-bottom: 0.625rem;
  }
}

.tag-filter {
  border-radius: 2.5rem;
  padding: 0.5rem 1rem;
  background-color: #dbf8f1;
}
