.add-filter {
  list-style: none;
  padding: 0;
  float: left;
  margin-right: 20px;
  display: inline-block;
  li {
    a {
      border: 1px solid #a5aaaa;
      border-radius: 48px;
      padding: 11px 50px;
      color: #000;
      &:hover {
        color: $blue;
        border: 1px solid $blue;
      }
    }
  }
}

.list-filter {
  padding: 0;
  list-style: none;
  li {
    word-wrap: unset;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.tag-filter {
  border-radius: 48px;
  padding: 8px 16px;
  background-color: #dbf8f1;
}
