.login {
  padding: 3.375rem 2.875rem;
  max-width: 30rem;
  margin: 0 auto;
  border: 1px solid #dce1e6;
  border-radius: 8px;
}
.btn-google {
  display: flex;
  text-align: center;
  background-color: #dce1e6;
  border-radius: 8px;
  color: #000;
  padding: 0.875rem 6.6875rem;
  text-decoration: none;
  &:hover {
    color: #000;
  }
  img {
    margin-right: 0.625rem;
  }
}
.submit {
  display: block;
  text-align: center;
  margin-bottom: 1.875rem;
}
.btn-forget {
  color: $mantra;
  text-align: center;
  display: block;
  &:hover {
    color: $mantra;
  }
}
