.row-modal {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #dce1e6;

  &:last-child {
    border-bottom: 0;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
.modal h2 {
  @include neuemedium;
  font-size: 1rem !important;
}
.modal-content h3 {
  margin-bottom: 8px;
}
.line {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #dce1e6;
}
.modal-filtra {
  max-width: 41.25rem;
}
.modal-shedule {
  max-width: 55.75rem;
  .card {
    width: 21.875rem;
    margin-left: auto;
  }

  .schedule {
    max-width: 29rem;
    margin: 1.25rem auto 0 auto;

    li {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
    h3 {
      text-align: center;
      margin-bottom: 5px;
      @include sequel;
    }
  }
  .dropdown-toggle {
    white-space: nowrap;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .hours li {
    padding: 0.1875rem 1.1875rem;
  }
  .modal-footer {
    justify-content: space-between;
  }
}

.row-shedule {
  display: flex;
}

.modal-header {
  background-color: #f4f5f6;
}

.title {
  font-size: 16px;
}

.group-form {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;

  li {
    max-width: 12.5rem;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.btn-filtra {
  border-radius: 3rem;
  background-color: $white;
  color: #000;
  border: 1px solid #a5aaaa;
  padding: 0.1875rem 1.5rem;
}

.btn-check:focus + .btn {
  background-color: #23a587;
  color: $white;
  box-shadow: none;
}

.btn-check:checked + .btn {
  background-color: #23a587;
  color: $white;
  box-shadow: none;
}

.form-check-input:checked {
  background-color: #49a587;
  border-color: #49a587;
}

.link {
  color: #23a587;
}

.modal-schedule {
  .modal-body {
    padding-bottom: 1.875rem;
  }
  .btn-social {
    background-color: #f4f5f6;
    display: block;
    border-radius: 8px;
    margin-top: 1.5rem;
    text-decoration: none;
  }
}
