.resume {
  display: flex;
  justify-content: space-between;
  border: 1px solid #dce1e6;
  list-style: none;
  margin: 0;
  padding: 2.75rem 3rem;
  border-radius: 8px;
  margin-bottom: 3.4375rem;
  li {
    text-align: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
  }
}
