.call-action {
  margin-bottom: 7.625rem;

  .row {
    max-width: 58.9375rem;
    margin: 0 auto;

    img {
      max-width: 31.75rem;
      max-height: 31.75rem;
    }

    span {
      display: block;
    }

    p {
      line-height: 2.5rem;
    }
  }

  .box-call-action {
    max-width: 24.4375rem;

    .title {
      @include sequel;
    }
    .text {
      line-height: 1.875rem;
    }
  }
}

.btn-cta {
  padding: 1.1875rem 6.3125rem !important;
  margin-top: 0.4375rem;
  display: inline-block;
  @include neuemedium;
}
