.vantaggi {
  padding-top: 7.5rem;

  h2 {
    text-align: center;
    margin-bottom: 2.1875rem;
  }

  .button-orange {
    margin: 0 auto;
    display: table;
    margin-top: 3rem;
    margin-bottom: 7.5rem;
    padding: 1.25rem 7.575rem;
    @include neuemedium;
  }
}
