.buscar-profissional {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #dce1e6;
}

.form-profissional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .form-profissional-input {
    flex: 1;
    input {
      width: 100%;
    }
  }

  .form-profissional-button {
    width: fit-content;
  }
}

.pagination {
  justify-content: center;
}
