.tab-content {
  padding-top: 4.9375rem;
  ul {
    li {
      display: flex;
      max-width: 51.25rem;
      margin: 0 auto 3.5rem auto;
      align-items: center;

      img {
        margin-right: auto;
      }
      .box-img {
        width: 100%;
        max-width: 12.5rem;
      }
      .box-text {
        width: 33.75rem;
      }
    }
  }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-color: #fff;
  border-bottom: 2px solid;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $blue;
}
