.tag-available {
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
  }
  li {
    padding: 0.625rem;
    border: 1px solid #dce1e6;
    border-radius: 4px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    a {
      color: #000;
      text-decoration: none;
      display: flex;
      align-items: center;
    }
  }
}

.not-available {
  font-size: 1rem;
  line-height: 1.25rem;

  text-decoration-line: line-through;

  color: #a5aaaa;
}
